<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <header>
                <h1><a href="/">Event Management Page</a></h1>
        </header>
        <h2>Edit event</h2>
        <form onsubmit="return editEvent();">
                <label for="name">Event Name:</label>
                <input type="text" id="name" name="name">
                <br>
                <label for="description">Event Description:</label>
                <input type="text" id="description" name="description">
                <br>
                <label for="startDate">Start Date:</label>
                <input type="text" id="startDate" name="startDate">
                <label for="startTime">Start Time:</label>
                <input type="text" id="startTime" name="startTime">
                <br>
                <label for="endDate">End Date:</label>
                <input type="text" id="endDate" name="endDate">
                <label for="startTime">End Time:</label>
                <input type="text" id="endTime" name="endTime">
                <br>
                <button type="submit">Save event</button>
        </form>
        <button class="deleteEventBtn">Delete event</button>
        <br>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/editEvent.js"></script>
</body>

</html>
