h1 {
   color:red;
}

/* styling for article element, used later in the lab */
/* 1 rem is usually 16px on a browser. rem = root em */
article {
    background-color: bisque;
    border: 1px solid black;
    padding:0.5rem;
    margin:0.5rem;
}

.addNewEvent {
    display:none;    
}

/* challenge */

.organizersSection { 
    display:none;
}

